<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org" th:fragment="dynamic(main)">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <title>Trang Chu</title>
</head>

<body class="container" ng-app="shopping-cart-app" ng-controller="shopping-cart-ctrl">
    <header class="row">
        <h1 class="alert alert-success">Demo Bán Hàng Java 6</h1>
    </header>
    <nav class="row">
        <div th:replace="/layout/_menu.html"></div>
    </nav>
    <div class="row">
        <article class="col-sm-9">
            <div th:replace="${main}"></div>
        </article>
        <aside class="col-sm-3">
            <div th:replace="/layout/_cart-info.html"></div>
            <div th:replace="/layout/_category.html"></div>
        </aside>
    </div>
    <footer class="row">
        <h1 class="alert alert-info">FPT Polytechnic - minhbdph24887</h1>
    </footer>
    <script>
        const app = angular.module("shopping-cart-app", []);
        app.controller("shopping-cart-ctrl", function ($scope, $http) {
            /*
                QUẢN LÝ GIỎ HÀNG
            */
            $scope.cart = {
                listProduct: [],
                // Thêm sản phẩm vào giỏ hàng
                add(idProduct) {
                    var index = this.listProduct.find(index => index.idProduct == idProduct);
                    var urlAdd = "http://localhost:8080/rest/products/" + idProduct;
                    if (index) {
                        index.qty++;
                        this.saveToLoaclStorage();
                    } else {
                        $http.get(urlAdd).then(resp => {
                            resp.data.qty = 1;
                            this.listProduct.push(resp.data);
                            this.saveToLoaclStorage();
                        })
                    }
                },

                // Lưu giỏ hàng vào local storage
                saveToLoaclStorage() {
                    var json = JSON.stringify(angular.copy(this.listProduct));
                    localStorage.setItem("cart", json);
                },

                // Tính tổng số lượng mặt hàng trong giỏ
                get count() {
                    return this.listProduct
                        .map(listProduct => listProduct.qty)
                        .reduce((total, qty) => total += qty, 0);
                },

                // Tổng số tiền các mặt hàng trong giỏ
                get amount() {
                    return this.listProduct
                        .map(listProduct => listProduct.qty * listProduct.price)
                        .reduce((total, qty) => total += qty, 0);
                },

                // Đọc giỏ hàng từ Local Storage
                loadFromLocalStorage() {
                    var json = localStorage.getItem("cart");
                    this.listProduct = json ? JSON.parse(json) : [];
                },

                // Xoá từng sản phẩm trong giỏ hàng
                remove(idProduct) {
                    var index = this.listProduct.findIndex(listProduct => listProduct.idProduct == idProduct);
                    this.listProduct.splice(index, 1);
                    this.saveToLoaclStorage();
                },

                // Xoá toàn bộ sản phẩm trong giỏ hàng
                clear(){
                    this.listProduct = [];
                    this.saveToLoaclStorage();
                }
            }
            $scope.cart.loadFromLocalStorage();
        });
    </script>
</body>

</html>