<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{:: main})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/shopping-cart-app.css">
    <title>Product List</title>
</head>

<body>
    <main class="row">
        <h1>Danh Sách Sản Phẩm</h1>
        <div th:each="p: ${listProduct}" class="col-sm-4">
            <div class="panel panel-primary poly-item text-center">

                <!-- Hiện Thị Tên -->
                <div class="panel-heading">
                    <div class="panel-title" th:utext="${p.nameProduct}"></div>
                </div>

                <!-- Hiện Thị Anh -->
                <div class="panel-body">
                    <a th:href="@{|/product/detail/${p.idProduct}|}">
                        <img th:src="@{|/image/${p.image}|}" style="width: 200px; height: 200px;"/>
                    </a>
                </div>

                <!-- Hiện Thị Chức Năng -->
                <div class="panel-footer text-right">
                    <b class="pull-left">[[${p.price}]] VND</b>
                    <button th:attr="ng-click=@{|cart.add(${p.idProduct})|}" class="btn btn-success">
                        <i class="glyphicon glyphicon-shopping-cart"></i>
                    </button>
                </div>
            </div>
        </div>
    </main>
</body>

</html>