<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <title>Document</title>
</head>

<body ng-app="app" ng-controller="ctrl">
    <h3>Error Rrocesing</h3>
    <script>
        const app =angular.module("app", []);
        app.controller("ctrl", function($scope, $http) {
            let url = "http://localhost:8080/category/hien-thi";
            $http.get(url).then(resp => {
                console.log("Success", resp);
            }).catch(error => {
                console.log("Error", error);
            });
        });
    </script>
</body>

</html>