<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav>
  <a href="/home/index">Trang Chu</a> ||
  <a href="/home/about">Gioi Thieu</a> ||
  <a href="/home/admin">Admin</a> ||
  <a href="/home/user">User</a> ||
  <a href="/home/authentication">Authentication</a> ||
  <a href="/home/thymeleaf1">Thymeleaf1</a> ||
  <a href="/home/thymeleaf2">Thymeleaf2</a> ||
  <a href="/auth/login/form">Dang Nhap</a> ||
  <a href="/auth/logout">Dang Xuat</a>
</nav>
</body>
</html>