<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" th:replace="~{/bai3/layout/layout :: dynamic(~{:: body})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Validation</h3>
<div th:text="${message}"></div>
<form action="/student/validate/check" method="post" th:object="${sv}">
    <label>
        <input th:field="*{email}" placeholder="Nhap Email">
    </label>
    <i th:errors="*{email}"></i>
    <br>

    <label>
        <input th:field="*{hoVaTen}" placeholder="Nhap Ho Va Ten">
    </label>
    <i th:errors="*{hoVaTen}"></i>
    <br>

    <label>
        <input th:field="*{diem}" placeholder="Nhap Diem">
    </label>
    <i th:errors="*{diem}"></i>
    <br>

    <label>
        <input th:field="*{gioiTinh}" th:value="true" type="radio">
    </label>Nam
    <label>
        <input th:field="*{gioiTinh}" th:value="false" type="radio">
    </label>Nu
    <i th:errors="*{gioiTinh}"></i>
    <br>

    <label>
        <select th:field="*{queQuan}">
            <option value="">Chon Que Quan</option>
            <option value="VietNam">Viet Nam</option>
            <option value="US">My</option>
        </select>
    </label>
    <i th:errors="*{queQuan}"></i>
    <hr>
    <button>Validate</button>
</form>
</body>
</html>